<h1 *ngIf="!isChange" mat-dialog-title>Cadastrar Veículo</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Cadastro</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Ano</mat-label>
        <input matInput [(ngModel)]="data.ano">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <input matInput [(ngModel)]="data.modelo">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Cor</mat-label>
        <input matInput [(ngModel)]="data.cor">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="data.marca">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)= "onCancel()">Cancel</button>
    <button *ngIf="!isChange" mat-button [mat-dialog-close]= "data" cdkFocusInitial>Create</button>
    <button *ngIf="isChange" mat-button [mat-dialog-close]= "data" cdkFocusInitial>Editar</button>
</div>